<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786358742623-dhe4g0k2mgke5g3f39ro8q61e05c5asa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786358742623-dhe4g0k2mgke5g3f39ro8q61e05c5asa</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ej5gahad5M8UGbZBtZOhCXwyLKPrGsc</string>
	<key>GCM_SENDER_ID</key>
	<string>786358742623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.endoffapp.spincasino</string>
	<key>PROJECT_ID</key>
	<string>spincasino-8020f</string>
	<key>STORAGE_BUCKET</key>
	<string>spincasino-8020f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786358742623:ios:272aa337e975d2e9a235ea</string>
</dict>
</plist>